@model IEnumerable<MVC.Models.MVCImageModel>

@{
    ViewBag.Title = "Index";
}

<div style="color:white;font-size:30px;">
    <iframe src="~/Images/UITOUX_Task.pdf" type="applicaton/pdf" style="width:110%;height:500px;padding-right:60px;" />
</div>

